<h1><%= @article.title %></h1>

<% if @article.comments.any? %>
  <h4>These are the comments for this article:</h4>

  <ul>
    <% @article.comments.each do |comment| %>
    <li>
        <%= comment.text %> (<%= comment.user %>)|
        <%= link_to "Edit", edit_article_comment_path(@article, comment) %> |
        <%= link_to "Delete", article_comment_path(@article, comment),
                                :data => {:confirm => "Are you sure?",
                                              :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Add a comment", new_article_comment_path(@article) %>
<%= link_to "Return to articles", articles_path %>
